@model AspCoreMVCEF.Models.User
@{
    ViewData["Title"] = "User Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow-lg w-75 mx-auto">
    <div class="card-header bg-info text-white">
        <h4>User Details</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Username</dt>
            <dd class="col-sm-9">@Model.username</dd>

            <dt class="col-sm-3">Password</dt>
            <dd class="col-sm-9">@Model.password</dd>

            <dt class="col-sm-3">Email</dt>
            <dd class="col-sm-9">@Model.email</dd>
        </dl>

        <div class="text-center">
            <a asp-action="Edit" asp-route-id="@Model.id" class="btn btn-warning">Edit</a>
            <a asp-action="Index" class="btn btn-secondary">Back</a>
        </div>
    </div>
</div>
